a:link{
  background-color:#0274c0;
  color:#2ae0e0;
}
a:visited{
  background-color:#9c0056;
  color:#ffffff;
}
a:hover{
  background-color:#ff3300;
  color:#000000;
}
a:active{
  background-color:#5fa79b;
  color:#53ec3f;
}


a:link{
  background-color:#dd94f0;
  color:#fafcff;
}


a:active{
  background-color:#1cffc6;
  color:#0a1806;
}


a:hover{
  background-color:#ffa3ff;
  color:#4a09a0;
}


a:visited{
  background-color:#000000;
  color:#ffffff;
}