#caja1,#caja3 {
  background-color:rgb(153, 201, 255);
  font-family:verdana;
  font-size:1.3rem;
}
#caja2 {
  background-color:rgb(237, 104, 255);
  font-size:1.3rem;
  position:absolute;
  left:40px;
  top:30px;
}