#contenedorform {
  width:500px; 
  margin-left:20px; 
  margin-top:10px;
  background-color:#ffe;
  border:1px solid #CCC;
  padding:10px 0 10px 0;
}

#contenedorform form label {
  width:120px; 
  float:left;
  font-family:verdana;
  font-size:14px;
}
.botonsubmit {
  color:rgb(11, 11, 11);
  background-color:#2eff35;
  border: 1px solid #fff;
}