#caja1{
  position:absolute;
  background-color:rgb(255, 204, 0);
  left:10px;
  top:10px;
  width:200px;
  height:200px;
  z-index:1;
}

#caja2{
  position:absolute;
  background-color:rgb(232, 53, 151);
  left:50px;
  top:50px;
  width:200px;
  height:200px;
  z-index:3;
}

#caja3{
  position:absolute;
  background-color:rgb(252, 101, 101);
  left:30px;
  top:30px;
  width:200px;
  height:200px;
  z-index:2;
}