.vacio{
  list-style-type:none;
}
.circulorelleno{
  list-style-type:disc;
}
.decimal{
  list-style-type:decimal;
}
.romanominuscula{
  list-style-type:lower-roman;
}
.romanomayuscula{
  list-style-type:upper-roman;
}
.circulovacio{
  list-style-type:circle;
}
.cuadrado{
  list-style-type:square;
}
.letrasminusculas{
  list-style-type:lower-alpha;
}
.letrasmayusculas{
  list-style-type:upper-alpha;
}