.titulopagina {
  background-color:#dedada;
  text-align:center;
  font-family:verdana;
  font-size:40px;

  border-top-width:1px;
  border-right-width:3px;
  border-bottom-width:3px;
  border-left-width:1px;

  border-top-style:dotted;
  border-right-style:solid;
  border-bottom-style:solid;
  border-left-style:dotted;

  border-top-color:#00f2ff;
  border-right-color:#02ff45;
  border-bottom-color:#02ff45;
  border-left-color:#00f2ff;
}